name: DAST-OWASP-ZAP

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      issues: write
      security-events: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Start services with Docker Compose
        run: |
          docker compose up -d
          sleep 30  # Espera a que inicie

      - name: OWASP ZAP Scan
        uses: zaproxy/action-full-scan@v0.10.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: 'http://localhost:5173'  # Puerto expuesto en compose
          cmd_options: '-a'
          docker_name: 'zap'  # Conecta ZAP al network de compose

      - name: Stop services
        if: always()
        run: docker compose down -v
