name: DAST-OWASP-ZAP

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    services:
      app:
        image: node:20
        ports:
          - 5173:5173
        options: >-
          --mount type=bind,source=/home/runner/work/DistribucionSaaS/DistribucionSaaS,target=/app
        command: sh -c "cd /app && npm ci && npm run build && npm run start"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Wait for app
        run: sleep 45

      - name: OWASP ZAP Scan
        uses: zaproxy/action-full-scan@v0.10.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: 'http://localhost:5173'
          cmd_options: '-a'

      - name: Upload reports
        uses: actions/upload-artifact@v4
        with:
          name: zap-reports
          path: |
            report.html
            report_json.json
